@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
body,
html {
  font-family: "Montserrat", sans-serif;
}

.subText {
  font-size: 13px;
}

.main-text {
  font-size: 14px;
  font-weight: 500;
}
